<h1>Create New Article</h1>
<form method="POST" action="/articles"> #form
    <label for="articles">
    Title: <input type="text" name="title"> #pass in attributes for new instance
    Content: <input type="text" name="content"> #pass in attributes for new instance
    <input type="submit" value="submit">
</form> 